[user]
	name = Charles Zhang
	email = charleszhang@fortinet.com
[core]
#[format]
#	pretty = format:%h %ad %s(%an)
	editor = 'vi'
[log]
	date = short
[github]
	user = charleszhangsse@gmail.com
[alias]
	log0 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	log1 = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(bold blue)%h%C(reset) %ad %C(white)%s%C(reset) %C(dim white)%C(cyan)(%an)%C(reset)%C(reset)%C(bold yellow)%d%C(reset)' --all
	log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	d = difftool
	dt = "!f() { vim -p $(git diff --name-only) +\"tabdo Gvdiff $@\" +tabfirst; }; f"
	vimdiff = "!f() { vim -p $(git diff --name-only) +\"tabdo Gvdiff $@\" +tabfirst; }; f"
	co = checkout
	pr = pull --rebase
    bc=difftool --extcmd bcompare
    pr=pull --rebase
    sp=stash pop
    sn=status -uno
    ss=stash save
    sl=stash list
    co=checkout
    cb=checkout -b
    s=status
    rh=reset HEAD
    l=log
    sh=show
    c=commit
    ca=commit -a
    cm=commit -a -m
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    ls = ls-files
    ign = ls-files -o -i --exclude-standard

[credential]
	helper = cache --timeout 3600
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[http]
	sslVerify = true
[merge]
	tool = meld
[diff]
	tool = vimdiff
	tool = bcompare
[difftool]
	prompt = false
